@media screen and (max-width:480px)
{
	.header.header--transparent .container
	{
	    padding: 0 0px 0px;
	}
	
	.search-icon form 
	{
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 40px;
	}	
	
	.three-grid 
	{
		padding-left: 0;
		grid-template-columns: 33% 33% 33%;		
	}
	
	.origLogo 
	{
		display: none;
	}

	.logoadd 
	{
		display: block;
	}

	.all-container 
	{
		display: grid;
		margin-top: 30px;
		grid-template-columns: 100%;
		width: 100%;
		margin-bottom: 50px;
		gap: 20px;
	}

	.votes-now .nav.nav-pills
	{
		display: flex;
		flex-wrap: nowrap;		
	}	
	
	.votes-now .nav.nav-pills li
	{
		display: flex;
		align-items: center;		
	}
	
	.footer.footer--two .container
	{
		padding: 0 30px 0px;
	}
	
	.download_image .downloadpos
	{
		display:none;
	}

	.download_image .dw
	{
		width:70%;
	}
	
	.feature-box-layout2 
	{
		margin-bottom: 40px;
	}

	.interactiveMapContainer.container
	{
		padding: 0 20px 0px;
	}
	
	.aboutSect1_container .two-grid-inside
	{
		display: grid;
		grid-template-columns: 100%;		
	}
	
	.app-content h2 
	{
		text-align: center;
		color: #fff;
		font-weight: 400;
		font-size: 16px;
		width: 90%;
		margin: 0 auto;
		font-style: italic;
		line-height: 25px;
	}

	.aboutSect1_section .container
	{	
	    padding: 0 30px 0px;	
	}
	
	.aboutSect2_container
	{
		font-size: 22px;
		line-height: 1.4;
		font-weight: 600;		
	}
	
	.grid-brand .brand__item
	{
		padding: 2rem 0;
		border: 1px solid rgba(0, 0, 0, 0.06);
	}
	
	section.img-gallery-magnific 
	{
		display: grid;
		grid-template-columns: 100%;
		gap: 3px;
	}

	.inside-top-mar .container
	{
		padding: 0 30px 10px;
	}
	
	.registerWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		background-color: #fff;
		color: #fff;
		margin-bottom: 50px;
	}

	.votesDivWrap.container
	{
		padding: 0 30px 0px;
	}
	
	.innerwrap .section2 iframe
	{
		width:100%;
	}
}