*
{
	font-family: 'Poppins', sans-serif;	
}

.sidebar .sidebar_header img {
    max-width: 150px;
}

.sidebar .sidebar_header {
    height: 66px;
    background: #fff;
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.from-yellow-600 
{
	background: linear-gradient(180deg, #3279E3 0%, #32C9DB 100%);
}

.sidebar .sidebar_inner ul li a svg.homesvg
{
    width: 23px;
    height: 23px;
    margin-right: 15px;
    transform: rotate(-19deg);
}

.sidebar .sidebar_inner ul li a svg.homesvg path
{
	fill:#1e6399;
}

.sidebar .sidebar_inner ul li span.nav-tag {
    display: inline-block;
    font-weight: 700;
    height: 19px;
    width: 19px;
    line-height: 19px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    background: rgba(12, 69, 113, 1);
    border-radius: 50%;
    position: relative;
    margin: 0 0 0 4px;
    top: -2px;
}

.sidebar .sidebar_inner ul li.active-submenu a, .sidebar .sidebar_inner ul li:hover a, .sidebar .sidebar_inner ul li.active a, 
.sidebar .sidebar_inner ul li:hover a svg path 
{
    color: rgba(12, 69, 113, 1);
	fill: rgba(12, 69, 113, 1);
	stroke:none;
}

.sidebar .sidebar_inner ul li:hover a svg.msgsvg path, .sidebar .sidebar_inner ul li:hover a svg circle
{
	stroke: rgba(12, 69, 113, 1);
}

.sidebar .sidebar_inner ul li:hover a svg.settingsvg path
{
	fill: none;
	stroke: rgba(12, 69, 113, 1);
}

.newssvg
{
	width:20px !important;
}

.msgsvg
{
	width:20px !important;	
}

.postsvg
{
	width:20px !important;	
}

.profilesvg
{
	width:20px !important;	
}

.settingsvg
{
    stroke: #000;
    stroke-width: 1.4px;
	width:20px !important;
}

.logoutsvg
{
	width:17px !important;
}

.bg-blue-500
{
    font-size: 14px;
    background: rgba(12, 69, 113, 1);
    font-weight: 400;
    margin: 0;
    line-height: 0;
    align-items: center;
    display: flex;
    height: 40px;	
}

.bgMainColor
{
	background: linear-gradient(180deg, #3279E3 0%, #32C9DB 100%);
}

.topPat
{
	background-color:#fff;
}

.topSectionWrap
{
    width: 100%;
	height:auto;
	padding: 50px 0;
	position:relative;
	background-repeat: no-repeat;
	background-image:url(../images/lightcolor.png);
}

.topSection
{
	display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.topSectionWrap:before
{
	content: '';
    width: 100%;
	height: 100%;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.14);
}

.topSection span
{
	font-size: 70px;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
	margin-right: 10px;
	position:relative;
}

.topSection span:after
{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    border: 2px solid #fff;
    top: 20px;
    right: -10px;
    border-radius: 50px;
}

.topSection img
{
    width: 80px;
}

.aboutWeatherWrap ul
{
    display: flex;
    justify-content: center;
    color: #fff;	
}

.aboutWeatherWrap ul li
{
    list-style-type: disc;
    margin-right: 30px;
}

.weatherWSSPWrap
{
	padding: 30px 0;	
}

.weatherWSSPWrap ul
{
    display: grid;
    grid-template-columns: 28% 28% 28%;
    grid-row-gap: 40px;
    justify-content: center;
    color: #fff;
}

.weatherWSSPWrap ul li
{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.weatherWSSPWrap ul li img
{
	margin-right:7px;
}

.imagePdiv [type="radio"]:checked,
.imagePdiv [type="radio"]:not(:checked)
{
	position: absolute;
	left: -9999px;
}


.voteWrap {
    padding: 0 15px 50px 15px;
}

.voteWeatherHeader 
{
    color: #fff;
    margin-bottom: 10px;
}

.voteSectionButton .tablink 
{
    border:1px solid #fff;
    padding: 12px 20px;
    border-radius: 50px;
	color: #fff;
	margin-right: 10px;
}

.voteSectionButton .tablink.activeVote 
{
    background: #fff;
    padding: 12px 20px;
    border-radius: 50px;
	color: #000;
}

.voteSectionButton 
{
    margin-bottom: 20px;
}

.weekday 
{
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
}

.voteHeadSeeAllWrap 
{
    display: flex;
    justify-content: space-between;
	margin-bottom: 15px;
}

.voteTabHead 
{
    color: #000;
    font-weight: 500;
}

.seeall 
{
    color: #327CE2;
    font-size: 14px;
    font-weight: 400;
}

.personVoteWrap
{
    display: flex;
    justify-content: space-between;
	position:relative;
	margin-bottom: 25px;
}

.personVoteWrap:after
{
    content: '';
    position: absolute;
    border-bottom: 1px solid #E8E8E8;
    bottom: -10px;
    width: 100%;	
}


.personName 
{
    font-weight: 600;
    color: #000;
    margin-bottom: 4px;
}

.personGuessTempReportWrap .weatherSpan
{
    margin-left: 40px;
    position: relative;
}

.personGuessTempReportWrap .weatherSpan:before
{
    content: '';
    width: 7px;
    height: 7px;
    position: absolute;
    top: 8px;
    left: -20px;
    border-radius: 50px;
    background-color: rgba(156, 156, 156, 1);
}

.imagePdiv [type=radio] + .delOpt 
{
  cursor: pointer;
}

.voteHighLowWrapper
{
    font-weight: 500;
    color: #000;	
}

.voteTomorrowWrapper
{
	margin-bottom:15px;
}

.radioButtonInline
{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 20px;
	margin-bottom: 20px;
}

.delOpt
{
	padding: 10px 40px;
    margin: 0 0px;
    color: #bebebe;
    border-radius: 4px;
    border: 1px solid #bebebe;
	padding: 10px 10px;
}

.imagePdiv 
{
	position: relative;
}

.addVoteWrapper
{
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 20px;
	margin-bottom: 20px;
}

.imagePdiv [type=radio]:checked + .delOpt
{
	color:#fff;
	background-color:#327EE2;
}

.voteSubmitDiv
{
	display:flex;
	justify-content:center;
}

.voteSubmit
{
    color: #fff;
    background: linear-gradient(180deg, #3279E3 0%, #32C9DB 100%);
    padding: 10px 0;
    border-radius: 50px;
    width: 40%;
    font-size: 20px;	
}

.addVoteInput input
{
    border: 1px solid #bebebe;
    box-shadow: none;
    padding: 10px 10px;	
}

.addVoteSelect select
{
	border: 1px solid #bebebe;
    box-shadow: none;
    padding: 10px 10px;
    color: #bebebe;
}

.mayorWrap
{
	display: flex;
    justify-content: center;
	padding: 25px 0;	
}

.mayorWrap .mayorImage
{
    width: 120px;
    height: 120px;
	border-radius: 50%;
	position: relative;
}

.mayorImgCrownWrap
{
	position:relative;
}

.mayorCrown
{
	position:absolute;
    top: -4px;
    left: 4px;
}

.mayorNamecityWrap
{
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    margin-bottom: 20px;
}

.mayorCity
{
	color: rgba(12, 69, 113, 1);	
}

.bg-blue-500:hover, .bg-blue-500:active, .bg-blue-500:visited, .bg-blue-500:focus  
{
    font-size: 14px;
    background: rgb(21 97 155);
    font-weight: 400;
    margin: 0;
    line-height: 0;
    align-items: center;
    display: flex;
    height: 40px;
	color: #fff;	
}

.profileContianer
{
	width:60%;
}

.profilePdiv
{
    display: grid;
    grid-template-columns: 30% 65%;
    grid-column-gap: 40px;
}

.profileHeaderPDiv .profileUserName
{
	font-size: 25px;
    font-weight: 500;
    line-height: 25px;	
}

.fllwPostWrapper
{
    display: flex;
    margin-top: 20px;
    font-size: 18px;	
}

.user_name
{
	color: #7e7e7e;	
}

.postValTxtWrap
{
	font-size: 16px;
    margin-right: 35px;	
}

.postValTxtWrap:last-child
{
	margin-right:0;
}

.postTxt
{
	margin-left:5px;
}

.follow_button
{
    padding: 10px;
    background: #d1d5db;
    border-radius: 6px;
    color: #413c3c;
    width: 150px;
}

.chat_button 
{
	color:#fff;
	padding: 10px;
    border-radius: 6px;		
	background: rgba(12, 69, 113, 1);
    width: 150px;
}

.chat_button:hover 
{
	color:#fff;
	background: rgb(25 87 134);
}

.profTabProfContentWrap
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 20px;	
}

.profTabProfContentWrap button.tablink
{
	margin-right: 60px;
	position:relative;	
}

button.tablink.activePTab:after {
    bottom: -16px;
    left: -1px;
    position: absolute;
    content: '';
    display: block;
    background: rgba(12, 69, 113, 1);
    height: 2px;
    width: 50px;
}

.ProfileContentWrapper
{
	width:100%;
}

.profileHomeWrap
{
    margin-bottom: 20px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.profileHomeWrap ul
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 20px;
}

.profileHomeWrap ul li
{
	display:flex;
	color: black;
}

.profileHomeWrap ul li img
{
	width:20px;
}

.profileHomeWrap ul li span
{
	margin-left:10px;
}

.profileGalleryWrap
{
	display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    background: #fff;
    padding: 4px;		
}

.profileMayorWrap 
{
    background-color: #fff;
    padding: 10px 10px;
    box-sizing: border-box;
}

.mayorList
{
	display: flex;
    border-bottom: 1px solid #c2c2c2;
	margin-top: 20px;
}

.mayorList:last-child
{
    border-bottom: none;
}

.tabMayorIcon
{
    margin-bottom: 15px;	
}

.tabCityDurationWrap
{
    margin-left: 20px;
    margin-bottom: 15px;	
}

.profileAboutWrap
{
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;	
}

.profileAboutWrap h3
{
	font-size: 18px;
    font-weight: 600;
    color: #323131;	
}

.profileAboutWrap p
{
	margin-bottom:10px;
}

a.button.soft-warning
{
	background: rgba(12, 69, 113, 1);	
}

.header_dropdown.profile_dropdown ul a:hover {
    color: rgba(12, 69, 113, 1);
    background-color: transparent;
}

.followButton
{
    border: 1px solid rgba(229, 231, 235,1);
    border-radius: 50px;
    padding: 5px 18px;
    font-size: 14px;
    font-weight: 600;	
}

.followButton:hover
{
	color:#fff;
	background: rgba(12, 69, 113, 1);
}

.addpostSvg
{
	margin-right:10px;
}

span.button, button.button
{
	background: rgba(12, 69, 113, 1);	
}

.profileCancel
{
	color: rgba(12, 69, 113, 1);
}

.profilrSave
{
	background: rgba(12, 69, 113, 1);
}

.customBgWhite
{
	background-color:#fff;
	box-shadow: 0 0 #0000, 0 0 #0000, 0 0 #0000;	
}

.ptProfileWrap
{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 40px;
    margin-top: 40px;	
}

.profTab
{
	display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    margin-top: 20px;
    border-bottom: 1px solid #bebebe;
}

.profTab li
{
    margin-right: 40px;
    padding: 10px 0;
}

.activeProfTab
{
	color: #3e416d;
    border-bottom: 4px solid #3e416d;
}

.ptEditProfWrap 
{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 40px;
    margin-top: 40px;
}

.ptChangeCityWrap
{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 40px;
    margin-top: 40px;	
}

.ptChgPwdWrap
{
    display: grid;
    grid-template-columns: 25% 70%;
    grid-column-gap: 40px;
    margin-top: 40px;		
}

.myweathervotewrap
{
    background: #fff;
    padding: 30px 20px;	
}

.myweathervotewrap h4
{
    margin-bottom: 10px;
}

.progress 
{
    height: 15px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 50px;
    -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.progress-bar 
{
	float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.historyWeeklyWrap
{
    display: flex;
    justify-content: space-between;	
}

.weekly select
{
	background-color: unset;
    box-shadow: unset;
	width: 80px;
    height: auto;	
}

.vhTable
{
    width: 100%;
    margin-top: 20px;
	border: 1px solid #DDDDDD;	
}

.vhTableHead
{
    background-color: #e3edfa;
    height: 40px;	
}

.vhTableHead th
{
    font-weight: 500;	
}

.vhTableContent td
{
	text-align:center;
	height: 40px;
	border: 1px solid #DDDDDD;
}

.vhTableContent td:last-child
{
	display:flex;
	justify-content:center;
}

.vhTableContent td:last-child img
{
	width:20px;
}

tr:nth-child(odd)
{
	background-color: #f7f7f7;
}

/* Metrologist List Styling start */

.metrologistListwrap 
{
    background: #fff;
    padding: 30px 20px;
}

.metrologistListwrap form
{
	padding: 0 15px;
	position:relative;
}

.metrologistListwrap form input
{
    border-radius: 50px;
    padding: 0 15px;
	position: relative;
    margin-bottom: 30px;	
}

.metrologistListwrap form button
{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 17px;	
}

.metrologistProfileWrap
{
	position:relative;
}

.metrologistListwrap a img
{
	width: 70px;
	border-radius: 50%;
}

.metrologistProfileWrap .mayorCrown 
{
    position: absolute;
    top: -6px;
    left: 0px;
    width: 20px;
}

.metrologistData
{
	width: 100%;
    margin-left: 20px;	
}

.unlcWrap 
{
    display: flex;
}

.locSpanWrap 
{
    display: flex;
}

.locSpanWrap img
{
	margin-right: 5px;	
}

.CaldSpanWrap 
{
    display: flex;
}

.CaldSpanWrap img
{
	margin-right: 5px;	
}

.mUN 
{
    margin-right: 20px;
}

.locSpanWrap 
{
    margin-right: 20px;
}

.metrologistNUNWrap .progress
{
    height: 6px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.progressValue 
{
    text-align: right;
    font-weight: 500;
}

.metrologistList
{	
    display: flex;
    padding: 10px 20px;
}

/* Metrologist List Styling end */



/* Mayor List Styling start */

.mayorListwrap 
{
    background: #fff;
    padding: 30px 20px;
}

.mayorListwrap form
{
	padding: 0 15px;
	position:relative;
}

.mayorListwrap form input
{
    border-radius: 50px;
    padding: 0 15px;
	position: relative;
    margin-bottom: 30px;	
}

.mayorListwrap form button
{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 17px;	
}

.mayorProfileWrap
{
	position:relative;
}

.mayorListwrap a img
{
	width: 70px;
	border-radius: 50%;
}

.mayorProfileWrap .mayorCrown 
{
    position: absolute;
    top: -6px;
    left: 0px;
    width: 20px;
}

.mayorData
{
	width: 100%;
    margin-left: 20px;	
}

.unlcWrap 
{
    display: flex;
}

.locSpanWrap 
{
    display: flex;
}

.locSpanWrap img
{
	margin-right: 5px;	
}

.CaldSpanWrap 
{
    display: flex;
}

.CaldSpanWrap img
{
	margin-right: 5px;	
}

.mUN 
{
    margin-right: 20px;
}

.locSpanWrap 
{
    margin-right: 20px;
}

.mayorNUNWrap .progress
{
    height: 6px;
    margin-top: 8px;
    margin-bottom: 5px;
}

.progressValue 
{
    text-align: right;
    font-weight: 500;
}

.allmayorListing
{	
    display: flex;
    padding: 10px 20px;
}

/* Mayor List Styling end */

sup
{
    left: -4px;
    font-weight: 700;	
}

.wpreditSpan 
{
    margin-left: 10px;
}

.wpreditImage img
{
    width: 30px;
    margin-left: 10px;	
}

.votingListwrap 
{
    background: #fff;
    padding: 30px 20px;
}

.votingListwrap form 
{
    padding: 0 15px;
    position: relative;
}

.votingListwrap form input 
{
    border-radius: 50px;
    padding: 0 15px;
    position: relative;
    margin-bottom: 30px;
}

.votingListwrap form button 
{
    position: absolute;
    top: 15px;
    right: 30px;
    width: 17px;
}

.votingProfileWrap 
{
    position: relative;
}

.votingListwrap a img 
{
    width: 70px;
    border-radius: 50%;
}

.votingData 
{
    width: 100%;
    margin-left: 20px;
}

.votingListing 
{
    display: flex;
    padding: 10px 20px;
    border-bottom: 1px solid #e3e3e3;
    margin-bottom: 10px;
}

.votingListing:last-child
{
	border-bottom: none;
}

.mayorProfileBannerWrap
{
	width: 100%;
    height: 290px;
	background-image:url('../images/mayorProfile.png');
	padding: 40px 0;
}

.mayorProfilePicWrap
{
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    flex-direction: column;
    text-align: center;
    align-items: center;	
}

.mayorImageCrownWrap
{
	position:relative;
}

.mayorProfilePicWrap .mayorImage
{
    width: 100px;
	position:relative;
}

.custom-overly1
{
    bottom: 15px;
    color: #fff;
    background: #000000a6;
    width: 40px;
    height: 30px;
    padding: 0;
    border-radius: 4px;
    left: 90px;
}

.mayorNamePostFollowingWrap
{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 0 auto;	
}

.mayorNameUN, .mayorPV, .mayorFV
{
	text-align:center;
}

.mayorMN, .mayorPCount, .mayorFCount, .mayorUN, .mayorPostHead, .mayorFollowingHead
{
	color:#fff;
}

.mayorMN, .mayorPCount, .mayorFCount
{
	font-weight:500;
}

.MayorfollowChatWrap
{
    display: flex;
    justify-content: center;
    margin-top: 20px;	
}

.MayorfollowChatWrap .follow_button 
{
    padding: 10px;
    background: #ffffff;
    border-radius: 6px;
    color: #413c3c;
    width: 150px;
}

.MayorfollowChatWrap .chat_button 
{
	color: #fff;
    padding: 10px;
    border-radius: 6px;
    background: none;
    width: 150px;
    border: 1px solid #fff;
}

.mayorprofileCrown
{
	position:absolute;
    top: -4px;
    left: 4px;	
}

.postBottomBorder
{
	font-size: 18px;
    font-weight: 500;
	text-align: center;
    border-bottom: 1px solid #e5e1e1;	
}

.postWrapper
{
    display: grid;
    grid-template-columns: 8% 89%;
    grid-column-gap: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.postWrapper img
{
    width: 45px;
    height: 45px;
}

.postWrapper input
{
	border-radius: 50px;
}

.addtopostPhotoWrapper
{
    display: grid;
    grid-template-columns: 72% 27%;
    margin-top: 15px;	
}

.upload-btn-wrapper 
{
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}

.upload-btn-wrapper svg
{
	color: rgba(12, 69, 113, 1);
}

.upload-btn-wrapper span
{
    margin-left: 5px;
    line-height: 25px;	
}

.upload-btn-wrapper input[type=file] 
{
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.UserColorDesign_modal .postWrapper .modalPostButton
{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
	background: rgba(12, 69, 113, 1);
}

.alretWrapper
{
	padding: 0px 20px 30px 20px;
	position:relative;
}

.alretWrapper img
{
	width:100%;
}

.alretWrapper .mayorAlertWrap
{
	position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.alretWrapper .mayorAlertWrap h2
{
    color: #fff;
    font-weight: 600;
    font-size: 25px;
}

.alretWrapper .mayorAlertWrap p
{
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.alretWrapper .mayorAlertWrap img
{
    width: 60px;
    margin: 0 auto;
}

.titleMsgWrap
{
    padding: 20px 20px 40px 20px;	
}

.titleMsgWrap .saTitle, .titleMsgWrap .saMsg
{
	margin-bottom: 20px;
}

.titleMsgWrap .saTitle label, .titleMsgWrap .saMsg label
{
	color:#fff;
}

.titleMsgWrap .saTitle input, .titleMsgWrap .saMsg input
{
	background-color:#ededed;
}

.titleMsgWrap a
{
    width: 100%;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    text-align: center;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    color: #3a3939;	
}

/* Metrologist Styling Start */


.metrologistColorDesign .from-yellow-600, .metrologistColorDesign .bg-blue-500, .metrologistColorDesign .sidebar .sidebar_inner ul li span.nav-tag,
.metrologistColorDesign .sendButton, .metrologistColorDesign .chat_button
{
	background: linear-gradient(180deg, #FD6759 0%, #FFB556 100%) !important;	
}

.metrologistColorDesign .sidebar .sidebar_inner ul li.active-submenu a, .metrologistColorDesign .sidebar .sidebar_inner ul li:hover a, 
.metrologistColorDesign .sidebar .sidebar_inner ul li.active a, 
.metrologistColorDesign .sidebar .sidebar_inner ul li:hover a svg path 
{
    color: rgba(254, 135, 88, 1) !important;
	fill: rgba(254, 135, 88, 1) !important;
	stroke:none;
}

.metrologistColorDesign .sidebar .sidebar_inner ul li:hover a svg.msgsvg path, .metrologistColorDesign .sidebar .sidebar_inner ul li:hover a svg circle
{
	stroke: rgba(254, 135, 88, 1) !important;
}

.metrologistColorDesign .sidebar .sidebar_inner ul li:hover a svg.settingsvg path
{
	fill: none !important;
	stroke: rgba(254, 135, 88, 1) ;
}

.metrologistColorDesign button.tablink.activePTab:after 
{
    background: #FD6759 !important;
} 

.metrologistColorDesign button.tablink.activePTab 
{
    color: #FD6759 !important;
} 

.metrologistColorDesign .activeProfTab 
{
    color: #FD6759;
    border-bottom: 4px solid #FD6759;
}

.metrologistColorDesign .tablink.activeProfTab a
{
	color: #FD6759 !important;	
}

.metrologistColorDesign .profileSave
{
	background: #FD6759 !important;	
}

.metrologistColorDesign .followButton:hover 
{
    color: #fff;
    background: linear-gradient(180deg, #FD6759 0%, #FFB556 100%);
}

.metrologistColorDesign_modal .postWrapper .modalPostButton
{
	background: linear-gradient(180deg, #FD6759 0%, #FFB556 100%) !important;
}

.metrologistColorDesign .bgMainColor
{
	background: linear-gradient(180deg, #FD6759 0%, #FFB556 100%);	
}

.metrologistColorDesign .postWrapper .modalPostButton
{
    width: 100%;
    margin-top: 10px;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
	background: rgba(12, 69, 113, 1);
}

/* Metrologist Styling End */