@media screen and (max-width:480px)
{
	.profileContianer 
	{
		width: 100%;
	}
	
	.mayorNamePostFollowingWrap 
	{
		display: flex;
		justify-content: space-around;
		width: 100%;
		margin: 10px auto 0 0;
	}	
	
	.MayorfollowChatWrap .follow_button 
	{
		padding: 10px;
		background: #ffffff;
		border-radius: 6px;
		color: #413c3c;
		width: 100px;
	}

	.MayorfollowChatWrap .chat_button 
	{
		color: #fff;
		padding: 10px;
		border-radius: 6px;
		background: none;
		width: 100px;
		border: 1px solid #fff;
	}

	.profileTabSectionButton	
	{
		display: flex;
		overflow-x: scroll;	
	}
	
	.profileHomeWrap ul 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-row-gap: 20px;
	}
	
	.addPostA
	{
		display:none;
	}
	
	.profilePdiv 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;
	}
	
	.profileHeaderPDiv .text-center
	{
	    text-align: left;	
	}
	
	.profTab 
	{
		display: flex;
		flex-wrap: nowrap;
		list-style: none;
		position: relative;
		margin-top: 20px;
		border-bottom: 1px solid #bebebe;
		overflow-x: scroll;
		width: 100%;
	}	
	
	.ptProfileWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;
		margin-top: 40px;
	}
	
	.postValTxtWrap strong
	{
	    margin-left: 0px;	
	}

	.ptEditProfWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;
		margin-top: 40px;
	}

	.ptChgPwdWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;
		margin-top: 40px;
	}	
	
	.ptChangeCityWrap 
	{
		display: grid;
		grid-template-columns: 100%;
		grid-column-gap: 40px;
		margin-top: 40px;
	}
	
	.ptChangeCityWrap .grid-cols-2
	{
		grid-template-columns: 100%;
	}
	
	.unlcWrap
	{
		display:block;
	}
}